<template>
    <div class="text-left ml-2"><strong>{{selected | capitalize}}</strong></div>
</template>

<script>
    export default {
        name: 'ShowSelectedState',
        props: {
            selected: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped>

</style>